[Desktop Entry]
Name=AgenteIA
Comment=Assistente IA com suporte a múltiplos modelos
Exec=agenteia
Icon=${SNAP}/meta/gui/agenteia.png
Terminal=false
Type=Application
Categories=Utility;Network;
Keywords=AI;Assistant;Chat;
StartupNotify=true
StartupWMClass=agenteIA
